YOUTUBE_API_KEY=your_youtube_api_key
PROJECT_ID=your_gcp_project_id
DATASET_ID=youtube_comment_analysis
TABLE_ID=youtube_comments

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
TO_EMAIL=receiver_email@gmail.com

VIDEO_IDS=video_id_1,video_id_2,video_id_3
MAX_COMMENTS_PER_VIDEO=0
BQ_LOCATION=asia-southeast1
